@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black : #1b1b1b;
    --blue : #223756;
}
/* repeated */
.image-container{
    position: relative;
}
.image-container img{
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000008f;
}
.overlay i{
    color: rgba(255, 255, 255, 0.671);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.overlay:hover{
    transition: 0.5s;
    opacity: 1;
}
.para{
    color: var(--black);
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.heading{
    color: var(--black);
    font-size: 24px;
    text-align: center;
    line-height: 26.4px;
}
a.button{
    display: inline-block;
}
.button{
    text-decoration: none;
    color: var(--black);
    font-size: 14px;
    border: 1px solid var(--black);
    padding: 10px 40px;
    position: relative;
    z-index: 3;
    
}

.button::before{
    content: '';
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: var(--blue);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
.button:hover::before,
.button:focus:before{
    transform: scaleX(1);
}
.button:hover,
.button:focus{
    border: none;
    color: #fff;
}

/* ------------------------ */


body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    transition: 1s;
    z-index: 9;
}
#preloader{
    background: #ffffff url("./images/loader.gif") no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}
.container {
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.384);
}

.container.home {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    filter: drop-shadow(0px 0px 4px #1b1b1b80);
}

.logo {
    width: 150px;
}

.menu {
    height: 38px;
    width: 42px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    padding: 0 6px;
    --wid: 15px;
}

.menu.home {
    background-color: var(--blue);
}

.menu:hover {
    --wid: 100%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: aliceblue;
}

.line:last-child {
    width: var(--wid);
    transition: 0.5s;
}





.nav-container {
    height: 100vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    position: fixed;
    top: 0%;
    right: 0%;
    transition: all 1s;


}

.nav-container.active {
    transform: translateX(100%);

}

.nav-menu {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.menu-list {
    list-style: none;
    text-align: center;
    text-transform: uppercase;


}

.menu-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;

}

.submenuitems {
    list-style: none;
}

.submenuitems a {
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    transition: 0.5s;
}

.sub-menu {
    transition: 2s;
}

.sub-menu.active {
    display: none;
}

.close-icon i {
    border: 2px solid black;
    padding: 3px;
    font-size: 20px;
    position: absolute;
    right: 6%;
}

/* BODY */
.page1 {
    height: 100vh;
    width: 100vw;
}


/* SLider */
.page1 {
    position: relative;
}

.slides {
    position: absolute;
    height: 100vh;
    width: 100vw;

    transition: 2s;
    object-fit: cover;
}
.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
 
}

.slide-button {
    display: block;
    height: 5px;
    width: 5px;
    border: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    
}

.slide-button.active {
    transform: scale(2.5);
    filter:drop-shadow(0px 0px 2px white);
    transition: 0.5s;
}
/* after slider */
.slide-section{
    z-index: 2;
    background-color: #00000094;
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 100px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}
.slide-section .box{
    height: 100%;

}
.box1{
    display: flex;
    align-items: center;
}
.box1 img{
    width: 200px;
}
.box2{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
}
.d{

    color: aliceblue;
    font-weight: 100;
}
.d1{
    flex-grow: 2;
    display: flex;
    gap:20px
    /* justify-content: space-between; */
}

.cd{
    width: 20%;

    font-weight: 600;
}
.cd img{
    width: 35px;
}
.aButton{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 5%;
    background-color: #fff;
    margin: 0 50%;
    border-radius: 50%;
    font-size: 25px;
    color: var(--black);
}
@keyframes an{
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(7px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}
.abtn{
    margin: 0;
    padding: 0;
    animation: an 1.5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ani{
    transition: 1s;
}

/* --------------------page 2 */
.page2{
    padding: 90px ;
}
.page2 .div{
    padding-bottom: 50px;
  

}
.div2{
    display: flex;
    align-items: center;
}
.i-div{

    display: flex;
    position: relative;
}
.ii-div{
    padding:0 30px;
    margin: auto 0;
}
.ii-div h5{
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.ii-div p{
    font-size: 14px;
}
.ii-div a{
    margin-top: 20px;
}



/* ------------------section 3----------------------------------------------- */
.section3{
    background: url(./images/sectionBG.jpg) no-repeat center/cover;
    padding: 40px 90px;
    min-height: 600px;
    overflow-x: auto;
}
.section3 .heading{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 50px;
}
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card{
    flex: 0 0 225px;;
    background-color: #ffffff88;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap:25px;
    padding: 40px;
}
.card img{
    height: 40px;
}
.ctitle{
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
}
.card .icon{
    font-size: 30px;
    color: #464646;
}
.card:hover{
    background-color: #ffffffc5;
    scale: 1.05;
    transition: scale 1s;
}

/* ------------------------------section4-------------------------------- */
.section4{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}





















@media(max-width: 768px) {
    .nav-container {
        width: 100vw;
    }
    .box3{
        display: none;
    }
    .slide-section{
        padding: 15px 25px;
        height: 150px;
    }
    .box1 img{
        width: 125px;
    }
    .d2{
        display: none;
    }
    .d1{
        flex-direction: column;
        align-items: end;
        gap: 0;
        justify-content: space-around;
    }
    .cd{
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 15px;
    }
    .box2{
        padding: 0;
    }
    
    .image-container img{
        width: 100px;
        height: 150px;
    }
    .page2{
        padding: 30px 10px;
    }
    
    .ii-div{
        padding-right: 0;
    }
}

@media(max-width: 1024px) {
    .div2{
        flex-direction: column;
    }
    .i-div{
        margin-bottom: 50px;
    }
}